<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ISISConnectionStringTest"
        connectionString="Data Source=SQL1.nexus.uwaterloo.ca;Initial Catalog=itc-isis;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>